@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --green-lighter: hsl(154, 59%, 61%);
  --blue: hsl(248, 32%, 49%);
  --blue-darker: hsl(248, 32%, 39%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--red);
  background-image: url("/images/bg-intro-mobile.png");
  background-position: center;
  padding: 1.5em;
  min-height: 100vh;
}

main {
  max-width: 40rem;
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

section.landing-text {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 2em;
}

.landing-text h1 {
  font-size: clamp(2em, 5vw, 3.5em);
}

.trial-btn {
  width: 100%;
  padding: 1em 3em;
  background-color: var(--blue);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  box-shadow: 0 0.5em 00 rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
  font-size: 1em;
  line-height: 1.5em;
  transition: background-color 0.3s ease;
}

.trial-btn:hover {
  background-color: var(--blue-darker);
}

.form-container {
  background-color: white;
  max-width: 100%;
  padding: 1.5em;
  border-radius: 0.7em;
  box-shadow: 0 0.5em 00 rgba(0, 0, 0, 0.15);
  color: var(--dark-blue);
}

.register-form {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}

input.inputs,
.register-btn-submit {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.5em;
  padding: 1.2em;
  outline: none;
}

input.inputs::placeholder {
  color: var(--dark-blue);
  font-weight: 600;
}

.input-invalid {
  border: 1px solid var(--red) !important;
  background: url("./images/icon-error.svg") no-repeat 95%;
}

.register-btn-submit {
  border: 0;
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0 0.3em 0 hsl(154, 59%, 41%);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn-submit:hover {
  background-color: var(--green-lighter);
}

.text-small {
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.grayish-blue {
  color: var(--grayish-blue);
}

.red {
  color: var(--red);
}

.input-validate {
  font-size: 0.7em;
  text-align: right;
  font-weight: 600;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

a:is(:active, :link, :visited) {
  text-decoration: none;
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
  body {
    display: grid;
    place-items: center;
    /* padding: clamp(5em, 10vw, 20em); */
  }

  main {
    max-width: 70rem;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .landing-text {
    padding: 4em;
    text-align: left !important;
  }
  .landing-text p {
    font-size: 1.1em;
  }

  .landing-text,
  .wrapper {
    justify-content: center;
  }
}
