@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--red);
  background-image: url("/images/bg-intro-mobile.png");
  background-position: center;
  padding: 1.5em;
  min-height: 100vh;
}

main {
  width: 100%;
  min-height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.landing-text {
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 3em;
}

.trial-btn {
  width: 100%;
  padding: 1.5em;
  background-color: var(--blue);
  color: white;
  outline: none;
  border: none;
  border-radius: 0.7em;
  cursor: pointer;
  box-shadow: 0 0.5em 00 rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
}

.form-container {
  background-color: white;
  width: 100%;
  padding: 1.5em;
  border-radius: 0.7em;
  box-shadow: 0 0.5em 00 rgba(0, 0, 0, 0.15);
  color: var(--dark-blue);
}

.register-form {
  display: flex;
  flex-flow: column wrap;
  gap: 1em;
}

input.inputs,
.register-btn-submit {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.7em;
  padding: 1.2em;
  outline: none;
}

input.inputs::placeholder {
  color: var(--dark-blue);
  font-weight: 600;
}

.register-btn-submit {
  border: 0;
  background-color: var(--green);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  box-shadow: 0 0.3em 0 hsl(154, 59%, 41%);
  cursor: pointer;
}

.text-small {
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.grayish-blue {
  color: var(--grayish-blue);
}

.red {
  color: var(--red);
}

a:is(:active, :link, :visited) {
  text-decoration: none;
  font-weight: 600;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
